@import 'utils.less';

//Structure
form{
	display: inline-block;
	position: relative;

	&.two-columns{
		width: 60%;

		section{
			display: inline-block;
			margin-bottom: 5px;
			width: 48%;

			&.full{
				width: 100%;
			}
		}

		button{
			margin-right: 3.2%;
		}
	}

	fieldset{
		word-spacing: 0;

		label{
			line-height: 1.6em;
		}

		input[type="text"], input[type="email"]{
			height: 35px;
		}

		textarea{
			height: 100px;
		}

		button{
			float: right;
			margin-right: 5%;
		}
	}
}

.wrap{
	width: @site-width;
	margin: 0 auto;

	> section{
		margin: 70px 0 0;
		padding: 2%;
		.box;
	}
}

#site-nav{
	overflow: visible;
	position: fixed;
	width: 100%;
	top: 0;
	background: @heading;
	.border(2px);
	padding: 10px 1%;
	z-index: 2;
	box-sizing: border-box;

	nav{
		position: relative;

		ul{
			.clear;

			li{
				float: left;
				font-size: 1em;
				line-height: 2em;
				margin-left: 14%;
				text-transform: uppercase;

				img{
					vertical-align: middle;
				}

				a{
					color: @white;

					&:hover{
						color: @nav-hover;
					}
				}
			}	
		}
	}
}

main.wrap{
	margin-top: 100px;
	padding: 20px 0;
}


//Layout
html{
	font-size: 62.5%;
}

body{
	background: url(/img/layout/background.png) bottom left fixed no-repeat;
	font-family:"PT Sans", sans-serif;
	font-size: 1.6em;
	color: @font;

	&.error-page{
		background: none;

		&.maintenance{
			section{
				background: url(/img/error-pages/maintenance.png) center bottom no-repeat;
				background-size: 600px 400px;
			}
		}

		&.not-found{
			section{
				background: url(/img/error-pages/not-found.png) center bottom no-repeat;
				background-size: 730px 400px;
			}
		}

		section{
			height: 500px;
			text-align: center;
			margin-top: 0;
		}

		main.wrap{
			margin-top: 0;
		}
	}

	> footer{
		p{
			font-size: 0.7em;
			text-align: center;
		}
	}
}

h1{
	font-family: Lato, san-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 3.5em;
	.border(2px);
	margin-bottom: 10px;
}

h2{
	font-family:"PT Sans", sans-serif;
	text-align: center;
	font-size: 1.3em;
	color: @subtitle;

}

h3{
	font-family: "Source Sans Pro", sans-serif;
	text-align: center;
	font-size: 1.5em;
	color: @subtitle;
	padding: 0 1% 15px;
	margin-bottom: 20px;
	.border(1px);
}

p{
	margin-bottom: 15px;
	line-height: 1.2em;
}

a, button{
	cursor: pointer;

	-webkit-transition: color 0.2s linear, background 0.4s linear;
	-moz-transition: color 0.2s linear, background 0.4s linear;
	-o-transition: color 0.2s linear, background 0.4s linear;
    transition: color 0.2s linear, background 0.4s linear;
}

a{
	color: @link;
	text-decoration: none;

	&:hover{
		color: @hover;
	}
}

button{
	background: @light-gray;
	border: 1px solid @gray;
	font-size: 1.1em;
	padding: 5px 8%;
	color: @subtitle;

	&:hover{
		background: @hover;
		border-color: @hover;
		color: @white;
	}
}

label{
	cursor: pointer;
}

input, textarea{
	border: 1px solid @light-gray;
	padding: 9px;
	box-sizing: border-box;

	-webkit-transition: border 0.2s linear;
	-moz-transition: border 0.2s linear;
	-o-transition: border 0.2s linear;
    transition: border 0.2s linear;

	&:focus{
		border-color: @gray;
	}
}

.box{
	.box;
}

.multi-box{
	.clear;

	.box{
		width: 29%;
		margin: 15px 2.16%;  
		float: left;
		height: 170px;
		background-size: 100% 100%;
		position: relative;
		cursor:pointer;

		&:hover{
			figcaption{
				opacity: 1;
			}
		}

		figcaption{
			position: absolute;
			bottom: 40%;
			width: 100%;
			padding: 4%;
			box-sizing: border-box;
			text-align: center;
			background: @heading;
			color: @white;
			opacity: 0;

			-webkit-transition: opacity 0.2s linear;
			-moz-transition: opacity 0.2s linear;
			-o-transition: opacity 0.2s linear;
    		transition: opacity 0.2s linear;
		}
	}
}

.floating-message{
	position: absolute;
	left: 23%;
	text-align: center;
	background: @success;
	box-sizing: border-box;
	padding: 3%;
	width: 50%;
	top: 61px;
	font-size: 0.8em;
	color: @white;
	opacity: 0;
	z-index: -1;

	-webkit-transition: opacity 1s linear, z-index 2s linear, background 2s linear;
	-moz-transition: opacity 1s linear, z-index 2s linear, background 2s linear;
	-o-transition: opacity 1s linear, z-index 2s linear, background 2s linear;
	transition: opacity 1s linear, z-index 2s linear, background 2s linear;

	&.fade{
		opacity: 1;
		z-index: 1;

		-webkit-transition-property: none;
		-moz-transition-property: none;
		-o-transition-property: none;
		transition-property: none;
	}

	&.error{
		background: @error;
	}
}

#contact{
	background: url(/img/layout/mail.png) @box  92%  no-repeat;

	header{
		position: relative;

		.social{
			font-family: 'Font Awesome';
			position: absolute;
			right: 0;
			top: -4px;
			font-size: 2.2em;
			width: 19.2%;

			i{
				margin-left: 5%;
				cursor: pointer;

				&:first-child{
					margin: 0;
				}

				.facebook{
					color: @facebook;
				}

				.twitter{
					color: @twitter;
				}

				.gplus{
					color: @gplus;
				}

				.linkedin{
					color: @linkedin;
				}

				a{
					-webkit-transition: opacity 0.2s linear;
					-moz-transition: opacity 0.2s linear;
					-o-transition: opacity 0.2s linear;
					transition: opacity 0.2s linear;	

					&:hover{
						opacity: 0.8;
					}
				}
			}
		}
	}
}

#toggle-box{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: @fancy;
	min-width: 940px;
	cursor: pointer;
	display: none;

	figure{
		margin: 10% auto;
		background: #FFF;
		height: 400px;
		width: 600px;
		box-sizing: border-box;
		border-radius: 3px;
		position: relative;
		cursor: default;
		background-position: center;
		background-repeat: no-repeat;

		h4{
			text-align: center;
			padding-top: 10px;
			font-size: 1.5em;
		}

		figcaption{
			background: @toggle-text;
			position: absolute;
			bottom: 0;
			padding: 2%;
			font-size: 0.8em;
			height: 10%;
			overflow: auto;
			color: @white;
			line-height: 1.3em;


			a{
				color: @heading-hover;

				&:hover{
					color: @nav-hover;
				}
			}
		}
	}
}