<?php
class Connection{
    
    private $connection;

    public function open(){
        try{
        
            $this->connection = @new mysqli("localhost", "root", "123", "vh_vicherr_db");
            if($this->connection->connect_errno){
                throw new Exception("Failed to connect to database - MySQL error: " . $this->connection->connect_errno);           
            }else{
                $this->connection->set_charset("utf8");
                return  $this->connection;
            }

        }catch(Exception $ex){ 
            throw $ex;
        }
    }

    public function close(){
        mysqli_close($this->connection);
    }
}

$GLOBALS["db"] = new Connection();
?>