<?php

require_once("recaptchalib.php");
require_once("validation.php");

class MailService{
  private static $error = "";
  private static $message = "";

  public static function send($fields, $recaptcha){
      try{
        if(self::check_recaptcha($recaptcha)){

          self::$error = Validation::validate($fields["full-name"],
                          [Validation::REQUIRED=>1, Validation::ALPHANUM=>1], self::$message);

          self::$error = self::$error == "" ? Validation::validate($fields["email"],
                          [Validation::REQUIRED=>1, Validation::EMAIL=>1], self::$message) : self::$error;
          
          self::$error = self::$error == "" ? Validation::validate($fields["message"],
                          [Validation::REQUIRED=>1], self::$message) : self::$error;

          if(self::$error == ""){
            $headers = "From: " . $fields["full-name"]["value"] . " <" . $fields["email"]["value"] . ">" . "\r\n";
            $headers .= "Reply-To: " . $fields["full-name"]["value"] . " <" . $fields["email"]["value"] . ">" . "\r\n";
            $headers .= "MIME-Version: 1.0\r\n";
            $headers .= "Content-Type: text/html; charset=ISO-8859-1\r\n";

            if(mail("your@mail.com", "Your Subject - " . $fields["full-name"]["value"], $fields["message"]["value"], $headers)){
              self::$message = "Sent";
            }else{
              self::$message = "An error ocurred";
              self::$error = "php mail() failed";
            }
          }
        }

        return ["message" => self::$message, "error" => self::$error];
      }catch(Exception $ex){             
         throw $ex;        
      }
  }

  private static function check_recaptcha($recaptcha){
    if(isset($recaptcha["recaptcha_challenge_field"]) && isset($recaptcha["recaptcha_response_field"])){
      $resp = recaptcha_check_answer("your_private_key",
                                  $_SERVER["REMOTE_ADDR"],
                                  $recaptcha["recaptcha_challenge_field"],
                                  $recaptcha["recaptcha_response_field"]);

      self::$error = "reCAPTCHA";
      self::$message = "reCAPTCHA is not correct"; 

      return $resp->is_valid;
    }else{
      self::$error = "reCAPTCHA";
      self::$message = "reCAPTCHA fields missing"; 

      return false;
    }
  }
}

?>