<?php

require_once("recaptchalib.php");
require_once("services/work.php");

header("Content-Type: application/json");

if(isset($_REQUEST["controller"]) && !empty($_REQUEST["controller"])) {
  switch($_REQUEST["controller"]){
    case "mail":
      break;
    case "work":
      handle_work($_REQUEST["action"]);
      break;
    default:
      http_response_code(501);
      echo json_encode("Controller " . $_REQUEST["controller"] . " does not exist");
      break;
  }
}else{
  http_response_code(500);
  echo json_encode("No controller called");
}

function handle_work($action){
  if(isset($action) && !empty($action)) {
    switch($action){
      case "list":
        try{
          echo json_encode(WorkService::list_work());
        }catch(Exception $ex){
          http_response_code(500);
          echo json_encode($ex->getMessage());
        }
        break;
      default:
        http_response_code(501);
        echo json_encode("Action " . $action . " does not exist");
        break;
    }
  }else{
    http_response_code(501);
    echo json_encode("No action defined");
  }
}

/* FOR LATER USE

  require_once('recaptchalib.php');
  $privatekey = "your_private_key";
  $resp = recaptcha_check_answer ($privatekey,
                                $_SERVER["REMOTE_ADDR"],
                                $_POST["recaptcha_challenge_field"],
                                $_POST["recaptcha_response_field"]);

  if (!$resp->is_valid) {
    // What happens when the CAPTCHA was entered incorrectly
    die ("The reCAPTCHA wasn't entered correctly. Go back and try it again." .
         "(reCAPTCHA said: " . $resp->error . ")");
  } else {
    // Your code here to handle a successful verification
  }

*/

?>